.title {
    text-align: center;
}

.tools {
    display: grid;
    margin: 20px 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.error {
    &_page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_title {}

    &_button {
        margin: 20px 0;
    }
}