.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.link {
    position: relative;
    height: 200px;
    border-radius: 6px;
    overflow: hidden;
    // width: 300px;
    // display: flex;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-color);
    text-shadow: 0 4px 8px rgba($color: #000000, $alpha: 1);
    font-size: 1.5rem;
    text-wrap: nowrap;
}

.image {
    object-fit: cover;
    z-index: -1;
}

.link:hover .title {
    color: var(--orange-color);
}