.link {
    text-wrap: nowrap;
}

.link:hover {
    color: var(--orange-color-hover);

}

.main_item {
    position: relative;
}

.main_link {
    display: block;
    line-height: 60px;
}

.wrapper:hover .arrow {
    transform: rotate(180deg);
}

.wrapper:hover .dropMenu,
.wrapper:focus-within .dropMenu {
    display: flex;
}

.arrow {
    background: none;
    border: none;
    margin-left: 12px;
    transition: transform 0.2s ease;
}

.arrow svg {
    transition: transform 0.2s ease;
}

.arrow_flip {
    transform: rotate(180deg);
}

.dropMenu {
    position: absolute;
    width: 200px;
    top: 60px;
    left: 0;
    display: none;
    flex-direction: column;
    background: var(--grey-grad);
    line-height: 1.6rem;
    box-shadow: var(--shadow);
    z-index: 1;
}

.first_drop_item {
    height: 24px;
}

.sideDropMenu {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0;
    left: 200px;
    background: var(--grey-grad);
    text-wrap: nowrap;
}

.dropItem:hover .sideDropMenu,
.dropItem:focus-within .sideDropMenu {
    display: flex;
}